.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#gameboard{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 50px;
    width: 50px;
    position: relative;
}

.square svg{
    height: 37.5px;
    width: 37.5px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.piece{
    position: relative;
    z-index: 9;
}

.beige{
    background-color: rgb(110, 110, 98);
}

.brown{
    background-color: rgb(169,4,43);
}

.black{
    fill: rgb(27, 27, 27);
}

.white{
    fill: white;
}
